# 6.5.2 Create Heatmaps for Weather Parameters

In [32]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [33]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saldanha,ZA,2021-10-31 06:27:51,-33.0117,17.9442,64.45,85,88,10.78
1,1,Carnarvon,AU,2021-10-31 06:24:19,-24.8667,113.6333,77.07,65,0,21.85
2,2,East London,ZA,2021-10-31 06:23:14,-33.0153,27.9116,70.74,68,0,6.91
3,3,Qaqortoq,GL,2021-10-31 06:27:51,60.7167,-46.0333,27.00,72,27,5.17
4,4,Albany,US,2021-10-31 06:23:36,42.6001,-73.9662,53.74,95,100,4.23

### Create a Maximum Temperature Heatmap

In [34]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

The general syntax for creating a heatmap is as follows:

1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
6. Call the figure to plot the data.
fig

To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures that are greater than 0 Â°F to a new list.

We're using the max() function to get the largest value between the temp and 0. If the temp is less than 0, then 0 will be added to the list in its place. Otherwise, the temp is added to the list.

In [35]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [36]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Using list comprehension

In [37]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Adjust Heatmap Zoom, Intensity, and Point Radius

### Create a Percent Humidity Heatmap

In [38]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Cloudiness Heatmap

In [39]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Wind Speed Heatmap

In [40]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Criteria

In [41]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 82
What is the maximum temperature you would like for your trip? 104

Filter the maximum temperature column in the city_data_df DataFrame using logical operators to create a new DataFrame with the cities that meet the customer's criteria.

In [42]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
17,17,Mlandizi,TZ,2021-10-31 06:27:57,-6.7000,38.7333,85.55,55,24,6.06
18,18,Esperance,AU,2021-10-31 06:25:10,-33.8667,121.9000,82.24,38,5,5.70
22,22,Kudahuvadhoo,MV,2021-10-31 06:27:58,2.6708,72.8944,83.55,71,46,19.24
32,32,Kawalu,ID,2021-10-31 06:28:02,-7.3817,108.2082,82.24,76,97,4.59
35,35,Bahile,PH,2021-10-31 06:28:04,9.9995,118.7878,86.47,69,100,4.36
39,39,Auki,SB,2021-10-31 06:28:05,-8.7676,160.7034,85.15,67,73,4.74
45,45,Charters Towers,AU,2021-10-31 06:28:08,-20.1000,146.2667,95.72,29,67,19.08
63,63,Lorengau,PG,2021-10-31 06:28:16,-2.0226,147.2712,84.11,73,73,6.58
107,107,Qeshm,IR,2021-10-31 06:28:35,26.9581,56.2719,91.27,46,5,6.78
110,110,Rampura,IN,2021-10-31 06:28:36,30.2500,75.2333,85.98,20,0,1.52

Add the following code to a new cell and run the cell to determine if there are any null values.

In [43]:
preferred_cities_df.count()

City_ID       90
City          90
Country       90
Date          90
Lat           90
Lng           90
Max Temp      90
Humidity      90
Cloudiness    90
Wind Speed    90
dtype: int64

# 6.5.4 Map Vacation Criteria

### Get Travel Destinations

Make a copy of the preferred_cities_df DataFrame and name it hotel_df. For the hotel_df, keep the columns "City," "Country," "Max Temp," "Lat," and "Lng." Add a new column to the hotel_df DataFrame to hold the name of the hotel.

In [44]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
17          Mlandizi      TZ     85.55  -6.7000   38.7333
18         Esperance      AU     82.24 -33.8667  121.9000
22      Kudahuvadhoo      MV     83.55   2.6708   72.8944
32            Kawalu      ID     82.24  -7.3817  108.2082
35            Bahile      PH     86.47   9.9995  118.7878
39              Auki      SB     85.15  -8.7676  160.7034
45   Charters Towers      AU     95.72 -20.1000  146.2667
63          Lorengau      PG     84.11  -2.0226  147.2712
107            Qeshm      IR     91.27  26.9581   56.2719
110          Rampura      IN     85.98  30.2500   75.2333

## Retrieve Hotels from a Nearby Search

### Step 1: Set the Parameters for a Nearby Search

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate Through hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Let's modify the last piece of code and make a try-exceptblock to handle the IndexError. 
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
17,Mlandizi,TZ,85.55,-6.7000,38.7333,Amazon Lodge..
18,Esperance,AU,82.24,-33.8667,121.9000,Hospitality Esperance
22,Kudahuvadhoo,MV,83.55,2.6708,72.8944,Niyama Private Islands Maldives
32,Kawalu,ID,82.24,-7.3817,108.2082,KOSAN UNGU UNSIK
35,Bahile,PH,86.47,9.9995,118.7878,Nitivos Beach Resort
39,Auki,SB,85.15,-8.7676,160.7034,Auki Motel
45,Charters Towers,AU,95.72,-20.1000,146.2667,Cattleman's Rest Motor Inn
63,Lorengau,PG,84.11,-2.0226,147.2712,Lorengau Harbourside Hotel
107,Qeshm,IR,91.27,26.9581,56.2719,Qeshm Kavan Hotel
110,Rampura,IN,85.98,30.2500,75.2333,Akash

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [47]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Now we can add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.

From the gmaps documentation on how to add markers (Enlaces a un sitio externo.), we need to add an info_box_template that has the following syntax.

    info_box_template = """
    <dl>
    <dt>Name</dt><dd>{column1}</dd>
    <dt>Another name</dt><dd>{column2}</dd>
    </dl>
    """

The < dl > tag is a description list (dl).

The < dt > tag is a term or name in a description list that is nested under the <dl> tag.
    
The < dd > tag is used to define the term or name or <dt> tag.

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [49]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

### Next, in the code we used to create the heatmap with markers, add info_box_content=hotel_info to the gmaps.marker_layer() attribute with the locations.

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))